<!DOCTYPE html>
<html>
  <head>
    <title>My Wordlist | Reset Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom_material.min', media: 'all' %>
    <%= yield :page_styles %>
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'material.min' %>
  </body>
</html>
